{% extends 'head.html' %} {% load static %} {% block titulo %}
<title>IngE · Sobre mi</title>
{% endblock %} {% block encabezado %}
<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Sobre mi</span>
    <span class="site-heading-lower">IngE</span>
  </h1>
</header>
{% endblock %} {% block principal %}
<main style="display: flex; justify-content: center">
  <div
    class="col-md-8 card mb-4 mt-3 left top"
    style="background-color: rgba(230, 167, 86, 0.9)"
  >
    <h1 style="text-align: center; color: #fa7600">
      ¡Hola! Te cuento un poco sobre mi...
    </h1>
    <p style="text-align: center; color: white; font-family: sans-serif">
      Mi nombre es Florencia, tengo 23 años y soy estudiante de Ingeniería
      Química.
    </p>
    <p
      style="
        margin-bottom: 0px;
        text-align: center;
        color: white;
        font-family: sans-serif;
      "
    >
      Este blog surge como proyecto final de un curso de Python de CoderHouse,
    </p>
    <p
      style="
        margin-bottom: 0px;
        text-align: center;
        color: white;
        font-family: sans-serif;
      "
    >
      del cual decidí participar debido a que, en la actualidad, saber programar
      es muy importante.
    </p>
    <p style="text-align: center; color: white; font-family: sans-serif">
      Y con las nuevas tecnologías considero que será muy útil para aplicarlo a
      mi carrera..
    </p>
    <p style="text-align: center; color: white; font-family: sans-serif">
      Espero que les guste y les sea útil.
    </p>
    <p style="text-align: center; color: white; font-family: sans-serif">
      ¡Saludos!
    </p>
  </div>
</main>
{% endblock %}
