{% extends 'head.html' %} {% load static %} {% block titulo %}
<title>IngE · Cambiar Avatar</title>
{% endblock %} {% block encabezado %}
<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Agregar Avatar</span>
    <span class="site-heading-lower">IngE</span>
  </h1>
</header>
{% endblock %} {% block principal %}
<main>
  <section class="page-section clearfix">
    <div class="container">
      <div
        class="intro-text left-0 text-center bg-faded p-5 rounded"
        style="
          background-color: rgba(230, 167, 86, 0.9);
          margin-top: 0px;
          max-width: auto;
        "
      >
        <form
          action="{% url 'agregarAvatar' %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <table>
            {{ miFormulario.as_table }}
          </table>
          <button type="submit">AÑADIR</button>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}
