{% extends 'head.html' %} {% load static %} {% block titulo %}
<title>IngE · Postear</title> {% endblock titulo %} {% block encabezado %}
<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Postear</span>
    <span class="site-heading-lower">IngE</span>
  </h1>
</header>
{% endblock %} {% block principal %}
<mai style="display: flex; justify-content: center">
  <section class="page-section clearfix">
    <div class="container">
      <div
        class="intro-text left-0 text-center bg-faded p-5 rounded"
        style="
          background-color: rgba(230, 167, 86, 0.9);
          margin-top: 0px;
          max-width: auto;
        "
      >
        <div style="margin: 10px">
          <form
            action="{% url 'posteos' %}"
            method="POST"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <table>
              {{ miFormulario.media }} {{ miFormulario.as_table }}
            </table>
            <button type="submit">CREAR!</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</mai>
{% endblock principal %}
