{% extends 'head.html' %} {% load static %} {% block titulo %}
<title>IngE · Registrarse</title>
{% endblock %} {% block encabezado %}
<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3"
      >¡Registrate y empieza a ser parte!</span
    >
    <span class="site-heading-lower">IngE</span>
  </h1>
</header>
{% endblock %} {% block principal %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                     <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">Registrarse</span>
                    </h2>
                    <p class="address mb-5">
                        <form style="display: flex; flex-direction: column; justify-content: right" action="{% url 'registro' %}"method="POST">
                        {% csrf_token %} 
                            {{ form.as_p }}
                            <button type="submit">Registrarse!</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
